@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #33475B;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

ul li a {
    color: #33475B;
    text-decoration: none;
}

/*header div.title >*/ p {
    line-height: 28px;
    margin-bottom: 26px;
}

/* layout */

div.container {
    width: 58%;
    margin: 0 auto;
}

div.row {
    margin-left: -20px;
    margin-right: -20px;
}

div.row:after {
    content: "";
    display: table;
    clear: both;
}

div[class^="col-"] {
    float: left;
    padding: 0 20px;
}

div.col-100 {
    width: 100%;
}

div.col-60 {
    width: 60%;
}

div.col-50 {
    width: 50%;
}

div.col-40 {
    width: 40%;
}

div.col-33 {
    width: calc(100% / 3);
}

div.col-25 {
    width: 25%;
}

/* end layout*/

/* header */

/* navbar */

header nav {
    position: relative;
    height: 7vh;
}

header nav > ul.inner-group:first-child,
header nav > ul.inner-group:last-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header nav > ul.inner-group:last-child {
    right: 0;
}

header nav > ul.inner-group > li {
    position: relative;
    padding: 0 8px;
    display: inline-block;
    cursor: pointer;
}

header nav > ul.inner-group > li:first-child {
    padding-left: 0;
}

header nav > ul.inner-group > li.menu-dropdown {
    padding-right: 20px;
    margin-right: 5px;
}

header nav > ul.inner-group > li.r-border:before {
    content: "";
    border-left: 1px solid #B9C1C5;
    border-right: 1px solid #8B9599;
}

header nav div#logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header nav div#logo > a > img {
    width: 90%;
}

/* header banner */

header section#header-banner {
    position: relative;
    top: 67px;
    background: #FFF4EF;
}

header section#header-banner:after {
    content: "";
    position: absolute;
    top: 3.2%;
    right: 6%;
    background: url("../img/clouds.svg");
    width: 38%;
    height: 100%;
}

header section#header-banner > img {
    position: absolute;
    bottom: -1px;
    right: 6.3%;
    width: 69%;
    z-index: 1;
}

header section#header-banner div.banner-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 11.6%;
    background: #AFEBE4;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;
    z-index: 2;
}

header section#header-banner div.banner-bottom:after {
    content: "";
    position: absolute;
    bottom: 78px;
    right: 0;
    width: 7%;
    height: 87.7%;
    background: #00A48D;
    border-top: 3px solid #33475B;
    border-bottom: 3px solid #33475B;
}

header div.title {
    padding: 64px 0 280px;
}

header div.title > h1 {
    font-size: 4em;
    margin-bottom: 22px;
}

/* end header */

/* main */

main {
    position: relative;
    top: 67px;
    left: 0;
    height: 20vh;
}

main div.title {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 60px 0 30px;
}

main div.title > img {
    width: 30%;
}

main div.title > h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

/* card */

main div.card {
    background: #FFF;
    box-shadow: 0 0 4px #cecfd4;
    padding: 60px 100px;
    border-radius: 4px;
    margin-bottom: 50px;
}

main div.card h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

main div.card h5 {
    font-size: 1.1em;
    text-transform: uppercase;
    display: inline-block;
}

main div.card hr {
    position: relative;
    bottom: 2.5px;
    left: 40px;
    width: 76%;
    border-top: 1px solid #899397;
    display: inline-block;
}

/* horizontal card */

main div.card div.card-sx {
    position: relative;
    top: -25px;
    display: inline-block;
}

main div.card div.card-sx > img {
    width: 125px;
    margin: 0 auto 20px;
    display: block;
}

main div.card div.card-dx {
    width: 80%;
    padding: 0 87px;
    display: inline-block;
}


main div.card div.card-dx > ul > li {
    margin-top: 10px;
    display: inline-block;
}

/* vertical card */

main div.card.vertical {
    text-align: center;
    padding: 20px 50px;
}

main div.card.vertical > img {
    width: 100px;
    margin-bottom: 10px;
}

main div.card.vertical > hr {
    position: static;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 25px;
}

main div.card.vertical > h5 {
    margin-bottom: 20px;
}

main div.card.vertical > ul {
    margin-bottom: 40px;
}

main div.card.vertical > ul > li {
    list-style: none;
    text-align: left;
}

/* end card */

/* end main*/

/* icons */

i.fa-globe-europe {
    margin-right: 5px;
}

i.fa-search {
    color: #04A5BE;
}

i.fa-angle-down {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
}

i.fa-check-circle {
    color: #FE775A;
}

/* end icons */

/* buttons */

button {
    color: #FE775A;
    background: none;
    padding: 8px;
    border: 1px solid #FE775A;
    border-radius: 3px;
    cursor: pointer;
}

button:focus {
    outline: none;
}

button.highlighted {
    color: #FFF!important;
    background: #FE775A!important;
    border: 1px solid #FB9C88!important;
}

/* utility */

/* sections */

section.fixed {
    position: fixed;
    width: 100%;
    z-index: 3;
}

section.rel {
    position: relative;
    top: 7vh;
}

section.bg-white {
    background: #FFF;
}

section.bg-lblue {
    background: #F4F9FD;
}

section.b-bottom {
    border-bottom: 1px solid #33475B;
}

section.b-shadow {
    box-shadow: 1px 0 1px #333;
}

section.bg-beige {
    background: #FFF4EF;
}


/* z-index */

.zx-2 {
    position: relative;
    z-index: 2;
}

/* buttons */

button.large {
    padding: 18px 37px;
}

/* p */

p.small {
    font-size: .88rem;
}

/* margin and padding */

.m-t24 {
    margin-top: 24px;
}

.m-t10 {
    margin-top: 10px;
}

.p-lr15 {
    padding-left: 15px;
    padding-right: 15px;
}

/* img width */

img.w-125 {
    width: 125px!important;
}

img.w-91 {
    width: 91px!important;
}

/* end utility*/
